<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UFO Sightings in Mexico</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  
  <!-- Background stars -->
  <div id="starfield"></div>

  <div class="container intro">
    <h1>UFO Sightings in Mexico</h1>
    <p>Welcome to the UFO Sightings Dashboard. This project visualizes reported UFO sightings in Mexico, allowing you to explore the data by UFO shape, city, and more.</p>
    <p>Use the interactive map to see UFO sightings categorized by shape or explore the cities with the highest number of sightings.</p>
  </div>

  <div class="map-container" style="text-align: left; margin-top: 20px;">
    <div id="map" style="width: 800px; height: 500px; margin: 0 auto;"></div>
  </div>

  <div class="container intro" style="margin-top: 40px;">
    <h2>Animated UFO Sightings Map</h2>
    <p>This animated map visualizes the progression of UFO sightings in Mexico over the years. Each sighting is represented by a marker, and the map cycles through the years to show how reports have changed over time.</p>
  </div>

  <!-- Container for the animated map -->
  <div class="map-container" style="text-align: left; margin-top: 20px;">
    <div id="animatedMap" style="width: 800px; height: 500px; margin: 0 auto;"></div>
  </div>

  <!-- Spacer to add space below the animated map -->
  <div class="footer" style="height: 100px;"></div>

  <!-- D3 Library -->
  <script src="https://d3js.org/d3.v6.min.js"></script>
  
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  
  <!-- Custom JavaScript -->
  <script type="text/javascript" src="static/js/logic_map.js"></script>
  <script type="text/javascript" src="static/js/logic_animated_map.js"></script>
</body>
</html>
